<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>About</title>
<link rel="stylesheet" href="css/style.css">
    </head>
    
<body>
<div class="container">
<div class="menu">
    <ul>
         <li> <a href="index.html"> Home</a></li>
        <li> <a href="/http://localhost:8080/h2-console">Database</a></li>
        <li> <a href="about.html">About</a></li>
    </ul>
    </div>    
    <div class="banner">
        <div class="app-text">
            <h1>WHO IS STEM?</h1>
            <p>We are Emir, Tanvir, Mattias and Susanna.<br>
           
            
            </p>
        </div>   
           <div class="app-gitpic">
            <img th:src="@{pic/2.png}"/>
             <img th:src="@{pic/3.png}"/>
        </div>
</div>
</div>
</body>
</html>