<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Index</title>
<link rel="stylesheet" href="css/style.css">
    </head>
    
<body id="index">
<div class="container">
<div class="menu">
    <ul>
        <li> <a th:href="@{/index}"> Home</a></li>
        <li> <a href="/h2-console">Database</a></li>
        <li> <a th:href="@{/about}">About</a></li>
        <li> <a href="https://peaceful-spire-35103.herokuapp.com/persons">Heroku</a></li>
        
    </ul>
    </div>    
    <div class="banner">
        <div class="app-text">
            <h1>WE ARE STEM!</h1>
            <p>Welcome to the site!<br> This is a school project called <b>Personuppgiftsregiser</b>.<br>
           We have created an application built in SpringBoot that handles personal data and <br>a system that manages a personal data register and stores it in a database.
            
            </p>
        </div>   
        <div class="app-picture">
            <img th:src="@{pic/1.png}"/>
        </div>
</div>
</div>
</body>
</html>